{{--  <span class=h2>Most recent</span>  --}}

@set('h1title', 'albertabril.com')

<ul class=post-list>
  @each(writing in writings)
    <li class=post-item>
      <div class=meta>
        <time datetime="{{ writing.datetime }}" itemprop=datePublished>
          {{ writing.datestr }}
        </time>
      </div>
      <span>
        <a href={{ writing.link }} />
          {{ writing.linkname }}
        </a>
      </span>
    </li>
  @end
</ul>