@layout('layouts/cactus')
@set('title', 'Writings')
@set('linkurl', '/writings')
@set('linkname', 'Writings')

@section('body')
  @include('partials/header')
  <section id=writings>
    <span class=h1>
        <a href={{ linkurl }}>
            {{ linkname }}
        </a>
    </span>
  </section>
  @include('partials/footer')
@end