@layout('layouts/cactus')
@set('title', 'Home page')

@section('body')
  @include('partials/header')
  @if(auth && auth.isLoggedIn)
    <p> 
      Hello {{ auth.user.email }} 
      <a href="/logout">(logout)</a>
    </p>
  @endif

  @include('pages/welcome/about')
  @include('pages/welcome/writings')
  @include('pages/welcome/projects')
  @include('partials/footer')
@end