<section id=projects>
    <span class=h1><a href=https://github.com/gohugoio>Projects</a></span>
    <ul class=project-list>
        @each(project in projects)
        <li class=project-item>
            <a href={{ project.linkurl }} />{{ project.linkname }}</a>: {{ project.linkdesc }}
        </li>
        @end
    </ul>
</section>