@layout('layouts/cactus')
@set('title', 'Tags')
@set('linkurl', '/tags')
@set('linkname', 'Tags')

@section('body')
  @include('partials/header')
  <section id=tags>
    <span class=h1>
        <a href={{ linkurl }}>
            {{ linkname }}
        </a>
    </span>
  </section>
  @include('partials/footer')
@end